# Environment
.venv/
.env

# Cache
.mypy_cache
.pytest_cache
.ruff_cache

# Build and Compiled
dist/
_build/
*.pyc
docs/pages/notebooks/*.ipynb

# Test Coverage
.coverage
htmlcov/
coverage.xml

# Local work
tmp/
output/
.vscode/
scratchworks/
scratchwork.py
local.md
ISSUES.md
.python-version
